<form #formCliente="ngForm" (ngSubmit)="onSubmit(formCliente)" novalidate>

  <fieldset class="form-group">
    <legend>Tipo de Pessoa</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="tipoCliente" id="fisico" value="pf" [(ngModel)]="tipo">
        Pessoa Física
      </label>
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="tipoCliente" id="juridico" value="pj" [(ngModel)]="tipo">
        Pessoa Jurídica
      </label>
    </div>
  </fieldset>

  <input name="first" ngModel required #first="ngModel">
  <input name="last" ngModel >

  <p>First name value: {{ first.value }}</p>
  <p>First name valid: {{ first.valid }}</p>
  <p>Form value: {{ formCliente.value | json }}</p>
  <p>Form valid: {{ formCliente.valid }}</p>
  <button (click)="setValue()">Set value</button>

  <div *ngIf="tipo == 'pf'">
    <p>Cliente Físico</p>
  </div>

  <div *ngIf="tipo == 'pj'">
    <p>Cliente Jurídico</p>
  </div>

</form>
