<form [formGroup]="formAcao" novalidate>
    <fieldset>
        <legend>{{title}}</legend>
        <md-grid-list cols="1" rowHeight="80px">
            <md-grid-tile>
                <md-input-container>
                    <input mdInput placeholder="Nome" [formControl]="nome" size="100%">
                    <md-error *ngIf="nome.hasError('required')">
                        Nome é obrigatório.
                    </md-error>
                    <md-error *ngIf="nome.hasError('maxlength')">
                        Nome não pode exceder 30 caracteres.
                    </md-error>
                </md-input-container>
            </md-grid-tile>
            <md-grid-tile>
                <md-input-container>
                    <md-error *ngIf="descricao.hasError('maxlength')">
                        Descrição não pode exceder 100 caracteres.
                    </md-error>
                    <input mdInput placeholder="Descrição" [formControl]="descricao" size="100%">
                </md-input-container>
            </md-grid-tile>
        </md-grid-list>
        <div class="centro">
            <button md-button>Cadastrar</button>
            <button md-button>Alterar</button>
            <button md-button type="reset">Limpar</button>
            <button md-button routerLink="/dashboard">Cancelar</button>
        </div>
        <br clear="all" />
        <div class="amd-container mat-elevation-z8">
            <div class="amd-header">
                <md-input-container floatPlaceholder="never">
                    <input mdInput #filter placeholder="Filtro">
                </md-input-container>
            </div>
            <md-table #table>
                <ng-container cdkColumnDef="nome">
                    <md-header-cell *cdkHeaderCellDef> Nome </md-header-cell>
                    <md-cell *cdkCellDef="let row"> </md-cell>
                </ng-container>
                <ng-container cdkColumnDef="descricao">
                    <md-header-cell *cdkHeaderCellDef> Descrição </md-header-cell>
                    <md-cell *cdkCellDef="let row"> </md-cell>
                </ng-container>
                <ng-container cdkColumnDef="acao">
                    <md-header-cell *cdkHeaderCellDef> Ação </md-header-cell>
                    <md-cell *cdkCellDef="let row"> </md-cell>
                </ng-container>
                <ng-container cdkColumnDef="color">
                    <md-header-cell *cdkHeaderCellDef>Color</md-header-cell>
                    <md-cell>
                        <a href="#"><img src="assets/edit.svg" width="20" height="20" alt="Alterar" /></a>
                        <a href="#"><img src="assets/remove.svg" width="20" height="20" alt="Remover" /></a>
                    </md-cell>
                </ng-container>
                <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
                <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
            </md-table>
            <md-paginator #paginator [length]="100" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 30]">
            </md-paginator>
        </div>
    </fieldset>
</form>